{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZz$
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonym$
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"$
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizq$
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta property="apple-itunes-app" name="apple-itunes-app" content="app-id=886427730" />
<meta property="description" name="description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moneda digital." />
<meta property="google-site-verification" name="google-site-verification" content="R7G5THr8xgaHFkTNkr_RUB0HvX2Nf8e4qnWi0X1kmz8" />
<meta property="google-site-verification" name="google-site-verification" content="_GaQTkOlc8tLwxDbZfMdxgGPL5wnctrp-vfeavJVsHE" />
<meta property="og:description" name="og:description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moneda digital.$
<meta property="og:image" name="og:image" content="https://www.coinbase.com/img/og-home.jpg" />
<meta property="og:title" name="og:title" content="Coinbase -Comprar/vender moneda digital" />
<meta property="og:type" name="og:type" content="website" />
<meta property="twitter:app:id:googleplay" name="twitter:app:id:googleplay" content="com.coinbase.android" />
<meta property="twitter:app:id:iphone" name="twitter:app:id:iphone" content="886427730" />
<meta property="twitter:app:id:ipad" name="twitter:app:id:ipad" content="886427730" />
<meta property="twitter:app:name:googleplay" name="twitter:app:name:googleplay" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:app:name:ipad" name="twitter:app:name:ipad" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:app:name:iphone" name="twitter:app:name:iphone" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:card" name="twitter:card" content="summary" />
<meta property="twitter:creator" name="twitter:creator" content="@coinbase" />
<meta property="twitter:description" name="twitter:description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moned$
<meta property="twitter:image" name="twitter:image" content="https://www.coinbase.com/img/og-home.jpg" />
<meta property="twitter:site" name="twitter:site" content="@coinbase" />
<meta property="twitter:title" name="twitter:title" content="Coinbase -Comprar/vender moneda digital" />
<meta property="viewport" name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="manifest" href="/manifest.json" />
<script type="application/ld+json">
//<![CDATA[
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.coinbase.com",
  "logo": "https://www.coinbase.com/images/logo.png",
  "contactPoint": [{
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta property="apple-itunes-app" name="apple-itunes-app" content="app-id=886427730" />
<meta property="description" name="description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moneda digital." />
<meta property="google-site-verification" name="google-site-verification" content="R7G5THr8xgaHFkTNkr_RUB0HvX2Nf8e4qnWi0X1kmz8" />
<meta property="google-site-verification" name="google-site-verification" content="_GaQTkOlc8tLwxDbZfMdxgGPL5wnctrp-vfeavJVsHE" />
<meta property="og:description" name="og:description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moneda digital.$
<meta property="og:image" name="og:image" content="https://www.coinbase.com/img/og-home.jpg" />
<meta property="og:title" name="og:title" content="Coinbase -Comprar/vender moneda digital" />
<meta property="og:type" name="og:type" content="website" />
<meta property="twitter:app:id:googleplay" name="twitter:app:id:googleplay" content="com.coinbase.android" />
<meta property="twitter:app:id:iphone" name="twitter:app:id:iphone" content="886427730" />
<meta property="twitter:app:id:ipad" name="twitter:app:id:ipad" content="886427730" />
<meta property="twitter:app:name:googleplay" name="twitter:app:name:googleplay" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:app:name:ipad" name="twitter:app:name:ipad" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:app:name:iphone" name="twitter:app:name:iphone" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:card" name="twitter:card" content="summary" />
<meta property="twitter:creator" name="twitter:creator" content="@coinbase" />
<meta property="twitter:description" name="twitter:description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moned$
<meta property="twitter:image" name="twitter:image" content="https://www.coinbase.com/img/og-home.jpg" />
<meta property="twitter:site" name="twitter:site" content="@coinbase" />
<meta property="twitter:title" name="twitter:title" content="Coinbase -Comprar/vender moneda digital" />
<meta property="viewport" name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="manifest" href="/manifest.json" />
<script type="application/ld+json">
//<![CDATA[
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.coinbase.com",
  "logo": "https://www.coinbase.com/images/logo.png",
  "contactPoint": [{
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta property="apple-itunes-app" name="apple-itunes-app" content="app-id=886427730" />
<meta property="description" name="description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moneda digital." />
<meta property="google-site-verification" name="google-site-verification" content="R7G5THr8xgaHFkTNkr_RUB0HvX2Nf8e4qnWi0X1kmz8" />
<meta property="google-site-verification" name="google-site-verification" content="_GaQTkOlc8tLwxDbZfMdxgGPL5wnctrp-vfeavJVsHE" />
<meta property="og:description" name="og:description" content="Coinbase es una plataforma en línea segura para comprar, vender, transferir y almacenar moneda digital.$
<meta property="og:image" name="og:image" content="https://www.coinbase.com/img/og-home.jpg" />
<meta property="og:title" name="og:title" content="Coinbase -Comprar/vender moneda digital" />
<meta property="og:type" name="og:type" content="website" />
<meta property="twitter:app:id:googleplay" name="twitter:app:id:googleplay" content="com.coinbase.android" />
<meta property="twitter:app:id:iphone" name="twitter:app:id:iphone" content="886427730" />
<meta property="twitter:app:id:ipad" name="twitter:app:id:ipad" content="886427730" />
<meta property="twitter:app:name:googleplay" name="twitter:app:name:googleplay" content="Coinbase -Comprar/vender moneda digital" />
<meta property="twitter:app:name:ipad" name="twitter:app:name:ipad" content="Coinbase -Comprar/vender moneda digital" />


<style >
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
</stile>
<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>



